<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                         http://www.springframework.org/schema/context
                         http://www.springframework.org/schema/context/spring-context-4.0.xsd
                         http://www.springframework.org/schema/tx
                         http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                         http://www.springframework.org/schema/aop 
                         http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 读者信息 -->
    <bean id="readerInfo" class="com.library.model.ReaderInfo"/>
    
    <bean id="readerDao" class="com.library.dao.impl.ReaderDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="readerService" class="com.library.service.impl.ReaderServiceImpl">
        <property name="readerDao" ref="readerDao"></property>
    </bean> 
    
    <!-- 读者类别信息 -->
    <bean id="readerType" class="com.library.model.ReaderType"/>
    
    <bean id="readerTypeDao" class="com.library.dao.impl.ReaderTypeDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="readerTypeService" class="com.library.service.impl.ReaderTypeServiceImpl">
        <property name="readerTypeDao" ref="readerTypeDao"></property>
    </bean> 
    
    <!-- 管理员信息 -->
    <bean id="manager" class="com.library.model.Manager"/>
    
    <bean id="managerDao" class="com.library.dao.impl.ManagerDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="managerService" class="com.library.service.impl.ManagerServiceImpl">
        <property name="managerDao" ref="managerDao"></property>
    </bean> 
    
    <!-- 书籍信息 -->
    <bean id="bookInfo" class="com.library.model.BookInfo"/>
    
    <bean id="bookInfoDao" class="com.library.dao.impl.BookInfoDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="bookInfoService" class="com.library.service.impl.BookInfoServiceImpl">
        <property name="bookInfoDao" ref="bookInfoDao"></property>
    </bean> 
    
    <!-- 图书类别信息 -->
    <bean id="bookType" class="com.library.model.BookType"/>
    
    <bean id="bookTypeDao" class="com.library.dao.impl.BookTypeDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="bookTypeService" class="com.library.service.impl.BookTypeServiceImpl">
        <property name="bookTypeDao" ref="bookTypeDao"></property>
    </bean>
    
    <!-- 出版社信息 -->
    <bean id="publishInfo" class="com.library.model.PublishInfo"/>
    
    <bean id="publishInfoDao" class="com.library.dao.impl.PublishInfoDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="publishInfoService" class="com.library.service.impl.PublishInfoServiceImpl">
        <property name="publishInfoDao" ref="publishInfoDao"></property>
    </bean>
    
    <!-- 图书馆信息 -->
    <bean id="libraryInfo" class="com.library.model.LibraryInfo"/>
    
    <bean id="libraryInfoDao" class="com.library.dao.impl.LibraryInfoDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="libraryInfoService" class="com.library.service.impl.LibraryInfoServiceImpl">
        <property name="libraryInfoDao" ref="libraryInfoDao"></property>
    </bean> 
    
    <!-- 参数信息 -->
    <bean id="parameterInfo" class="com.library.model.ParameterInfo"/>
    
    <bean id="parameterInfoDao" class="com.library.dao.impl.ParameterInfoDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="parameterInfoService" class="com.library.service.impl.ParameterInfoServiceImpl">
        <property name="parameterInfoDao" ref="parameterInfoDao"></property>
    </bean> 
    
    <!-- 书架信息 -->
    <bean id="bookcase" class="com.library.model.Bookcase"/>
    
    <bean id="bookcaseDao" class="com.library.dao.impl.BookcaseDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="bookcaseService" class="com.library.service.impl.BookcaseServiceImpl">
        <property name="bookcaseDao" ref="bookcaseDao"></property>
    </bean> 
    
    <!-- 借阅信息 -->
    <bean id="borrowInfo" class="com.library.model.BorrowInfo"/>
    
    <bean id="borrowInfoDao" class="com.library.dao.impl.BorrowInfoDaoImpl">
        <property name="sqlSessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="borrowInfoService" class="com.library.service.impl.BorrowInfoServiceImpl">
        <property name="borrowInfoDao" ref="borrowInfoDao"></property>
    </bean> 
</beans>